<h1>
  Word Count Calculation
</h1>

<form action="/word_count/results">
  <div>
    <label for="word_count_textarea">
      Text
    </label>

    <textarea id="word_count_textarea" name="user_text" rows="3" placeholder="Enter some text"></textarea>
  </div>

  <div>
    <label for="special_word_input">
      Special word
    </label>

    <input id="special_word_input" type="text" name="user_word" placeholder="Enter a particular word to count">
  </div>

  <button>
    Process text
  </button>
</form>